<%= form_with(model: threadth, local: true) do |form| %>
  <% if threadth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(threadth.errors.count, "error") %> prohibited this threadth from being saved:</h2>

      <ul>
      <% threadth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :threadth_id %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :threadth_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
