<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @threadth.id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @threadth.value %>
</p>

<%= link_to 'Edit', edit_threadth_path(@threadth) %> |
<%= link_to 'Back', threadths_path %>
